* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  background-color: rgb(29, 31, 31);
  padding: 1rem;
  color: white;
}
header {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 160px 1fr 1fr;
  margin: 1rem;
  padding: 0.5rem;
  border-bottom: 1.5px solid white;
}
main {
  padding: 0.5rem;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.copyright p {
  padding: 1.5rem;
  text-align: center;
  /* margin-top: 13px; */
  justify-content: center;
}

.social_icon img {
  padding: 1rem;
  height: 50px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
}
nav li {
  flex: 1 1 100%;
}
.nav a {
  display: block;
}
.img_logo img {
  width: 130px;
  border-radius: 50% 50% 50% 50%;
}
.top_images img {
  width: 360px;
  height: 420px;
  display: inline;
  padding: 1rem;
  box-shadow: 5px;
}
