.logo {
  width: 150px;
  height: 150px;
}

.img_hero {
  text-align: center;
}
.img_right {
  text-align: right;
}

.img_left {
  text-align: left;
}
.fa-facebook {
  font-size: 30px;
  color: blue;
}

.fa-instagram {
  text-align: right;
  font-size: 30px;
  color: red;
}

.fa-twitter {
  text-align: right;
  font-size: 30px;
  color: lightskyblue;
}

.section_h2 {
  text-align: center;
  font-style: oblique;
  font-size: 3em;
}
